<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Document</title>
</head>
<body>
    <header>
                  <img src="images aragón/bandera de huesca.png" height="220" width="500">    
    
   
    <nav>
          <ul>

            <li>  <a href= "index.html"> Pagina principal</a></li>
            <li>  <a href= "huesca.html"> Huesca</a></li>
            <li>  <a href= "zaragoza.html"> Zaragoza</a></li>
            <li>  <a href= "teruel.html"> Teruel</a></li>



          </ul>

    </nav>
    </header>
    <main>
    <h2>¿Que es Huesca?</h2>
        <h3>Huesca ​es una ciudad y municipio español, capital de la provincia homónima y de la comarca de la Hoya de Huesca, situada al norte de la comunidad autónoma de Aragón.</h3>
        <h2>Lugares turisticos de Huesca:</h2>
            <ul>
                <li>Parque Nacional de Ordesa y Monte Perdido, el corazón de Pirineos.</li>
                <li>Selva de Oza, paseo entre ibones.</li>
                <li>Muralla de Finestres, una maravilla natural.</li>
                <li>Valle de Hecho, rutas para todos.</li>
                <li>Valle de Tena, pueblos y cumbres.</li>
                <li>Cañón de Añisclo, forjado por el tiempo.</li>
                <li>Posets-Maladeta, paisajes sorprendentes.</li>
            </ul>
             <section>
                <img src="images aragón/catedral huesca.png" height="220" width="300"> 
              
                    <h2>Video de la experiencia Huesca</h2>
                    <a href= "https://www.youtube.com/watch?v=yp-xXz_rkIw"> CLICK AQUÍ</a>
                </section>
    </main>
    <footer>

        <h2> YA LE CONVENCIMOS DE IR A ARAGÓN? INSCRIBASE EN EL SIGUIENTE FORM!!!!!</h2>
        <a href= "form.html"> Click ACÁ</a>
  <h5>© 2024 Aragón Turismo - telefono: 976 282 181 - email: aragonturismo@gmail.com</h5>
    </footer>
</body>
</html>