@{
  ViewData["Title"] = "Huesca";
  ViewData["Img"] = "/img/bandera de huesca.png";
}

<h2>¿Que es Huesca?</h2>
<h3>Huesca es una ciudad y municipio español, capital de la provincia homónima y de la comarca de la Hoya de Huesca, situada al norte de la comunidad autónoma de Aragón.</h3>
<h2>Lugares turisticos de Huesca:</h2>

<ul>
    @foreach(string Lugar in ViewBag.LugaresTuristicos){
      <li>@Lugar</li>
    }
</ul>
<section>
    <img src="~/img/catedral huesca.png" height="220" width="300">
    <h2>Video de la experiencia Huesca</h2>
    <a href= "https://www.youtube.com/watch?v=yp-xXz_rkIw"> CLICK AQUÍ</a>
</section>