@{
  ViewData["Title"] = "Index";
  ViewData["Img"] = "/img/aragon turismo.png";
}

<h2 class="center-text">¿Qué es Aragón?</h2>
<h3 class="center-texta">Aragón es una región del interior ubicada en el nordeste de España, compuesta por las provincias de Huesca, Zaragoza y Teruel. La atraviesa el río Ebro y la coronan los Pirineos. Es conocida por su ornamentada arquitectura mudéjar, como la que se puede admirar en la basílica de Nuestra Señora del Pilar de Zaragoza, de 1686. Dicha ciudad, capital de la región y con un gran carácter comercial, cuenta con amplios bulevares y pasajes.</h3>
<div>
  <h2>Nuestra sede</h2>
  <img src="~/img/maps.png" height="220" width="300" id="sede">
  <h2 class="vid">Video de la experiencia Aragón</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/WuLk99n5Kdo?si=bPHxEOw6V7nyrBjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
  
<h1>¿CÓMO IR DE UN LADO A OTRO EN ARAGÓN?</h1>
<h3 class="textb">Dentro de las principales ciudades, podrás moverte utilizando el autobús urbano. Su servicio suele comenzar en torno a las 6-7 h. de la mañana y terminar en torno a las 23-24 h. de la noche. En la ciudad de Zaragoza existe además el tranvía, con el mismo precio y una frecuencia similar al autobús. Para más información, puedes ver las páginas del servicio de Autobuses a continuación:</h3>
<ul class="bus-list">
  <li><a href="http://zaragoza.avanzagrupo.com/">Autobuses urbanos de Zaragoza</a></li>
  <li><a href="http://www.urbanosdehuesca.com/">Autobuses urbanos de Huesca</a></li>
  <li><a href="http://urbanosdeteruel.es/">Autobuses urbanos de Teruel</a></li>
</ul>

<h4>ACÁ ALGUNAS REVIEWS DE NUESTRO CLIENTES SOBRE LA EXPERIENCIA ARAGON!!!!</h4>
<section class="sec2">
  <p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
    Carlos:
  </a>
</p>
<div class="collapse" id="collapseExample1">
  <div class="card card-body">
    El viaje fue desde Zaragoza, en un monovolumen de 7 plazas que resultó Interesante, cómodo, divertido, con buenas guías en las dos localidades. La comida en Teruel normal, excepto los postre que fueron muy buenos y caseros.
  </div>
</div>
  
   <p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
    Pepe:
  </a>
</p>
<div class="collapse" id="collapseExample2">
  <div class="card card-body">
    Impresionante región, destacando los Pirineos y Prepirineo en Huesca! Espectaculares Valles de montaña, especialmente el Valle de Tena ubicado en la Reserva de la Biosfera Ordesa Viñamala, la zona de Panticosa, montañas, nieve, ríos y bosques para disfrutar: deportes de aventura, senderismo, esquí y mucho mas!
  </div>
</div>
 
 <p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
    Manuela:
  </a>
</p>
<div class="collapse" id="collapseExample3">
  <div class="card card-body">
    Hace tiempo que quería ir a Aragón. Pero el transporte público es un inconveniente. Finalmente mi amigo me recomendó Aragón Turismo para que pudiéramos visitar el precioso pueblo. Sus guías fueron muy amables y conocedores. Disfrutamos absolutamente de nuestro recorrido. Te lo recomiendo mucho.
  </div>
</div>
  </section>