@{
  ViewData["Title"] = "Teruel";
  ViewData["Img"] = "/img/Teruel.gif";
}

<h2>¿Que es Teruel?</h2>
<h3>Teruel es una ciudad de la comunidad autónoma de Aragón, al este de España. Situada en una zona montañosa de gran altitud, es famosa por su clásica arquitectura mudéjar, un estilo que combina elementos góticos e islámicos.</h3>
<h2>Lugares turisticos de Teruel:</h2>

<ul>
    <li>Catedral de Teruel.</li>
    <li>Dinópolis.</li>                
    <li>Paisaje protegido de los Pinares de Rodeno.</li>
    <li>Las torres de Teruel.</li>
    <li>Esquí en Valdelinares y Javalambre.</li>
    <li>Mausoleo de los Amantes de Teruel.</li>
    <li>escalinata del óvalo</li>
</ul>
<section>
    <img src="~/img/t_rex_1.jpg" height="300" width="400">
    <h2>Video de la experiencia Teruel</h2>
    <a href= "https://www.youtube.com/watch?v=36ooHMSnaPQ"> CLICK AQUÍ</a>
</section>