@{
  ViewData["Title"] = "Gracias por reservar";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Document</title>
</head>
<body>
    <h1>Graciasssssssss por enviar el form!!!!!!!!!</h1>
    <nav>
        <ul>

          <li>  <a href='/'> Pagina principal</a></li>
          <li>  <a href='/huesca'> Huesca</a></li>
          <li>  <a href='/zaragoza'> Zaragoza</a></li>
          <li>  <a href='/teruel'> Teruel</a></li>



        </ul>

  </nav>
  <footer>

    <h5>© 2024 Aragón Turismo - telefono: 976 282 181 - email: aragonturismo@gmail.com</h5>
        </footer>
</body>
</html>