@{
  ViewData["Title"] = "Zaragoza";
  ViewData["Img"] = "/img/bandera zaragoza.png";
}

<h2>¿Que es Zaragoza?</h2>
<h3>Zaragoza es una ciudad y un municipio de España, capital de la provincia homónima y de la comunidad autónoma de Aragón. Perteneciente a la Comarca Central, tiene un régimen legal especial como capital de Aragón. Es el quinto municipio más poblado de España según las cifras oficiales de población del INE, que le otorgan 682.513 habitantes.</h3>
<h2>Lugares turisticos de Zaragoza:</h2>

<ul>
    @foreach(string Lugar in ViewBag.LugaresTuristicos){
      <li>@Lugar</li>
    }
</ul>
<section>
  <img src="~/img/Zaragoza escudo.png" height="220" width="200">
  <h2>Video de la experiencia Zaragoza</h2>
  <a href= "https://www.youtube.com/watch?v=2Al_tKWhEvI"> CLICK AQUÍ</a> 
</section>